<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="row justify-content-center">
        <h1 class="col-12 display-1 fw-bold text-center">About Us</h1>
        <div class="col-12 text-center lead">
            <p class="w-50 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil reprehenderit molestias nostrum qui, numquam sed, natus asperiores eveniet incidunt culpa mollitia aspernatur! Quis nemo quod ipsam similique nam itaque animi.
            </p>
        </div>
        <a routerLink="/" class="btn btn-primary col-1">Go Home</a>
    </div>
</div>