.Mydiv{
    border: 1px solid black;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(58, 80, 80);
  }
  .Mydiv *{
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;
  }
  
  h2{
    margin: 5px auto;
    width: 20%;
    text-align: center;
    background-color: rgb(26, 59, 59);
    color: white;
    border-radius: 5px;
  }
    
  .Mydiv input[type="button"]:hover{
    cursor: pointer;
    transform: scaleX(1.5);
  }
  
  .Mydiv input[type="button"]:active{
    background-color: aquamarine;
  }
  