<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm bg-light text-center col-10 w-75 mt-5" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light"> User Id: {{thePost.userId}}</li>
              <li class="list-group-item bg-light">Post Id: {{thePost.id}}</li>
              <li class="list-group-item bg-light">{{thePost.title}}</li>
              <li class="list-group-item bg-light">{{thePost.body}}</li>
            </ul>
        </div>
    </div>
</div>